a {
    color:#0066cc;
    text-decoration:none;
}

h2 {
	color: #0066cc;
}

h3 {
	color:#0066cc;
}

a.menu-link {
    color:#F8F8F8;
}

a:hover {
	color: #FF9966;
}
}

a:hover {
	color: #ED702B;
}

div#container {
	width: 900px;
	margin: 0 auto;
}

div#header {
	width: 900px;
	height: 230px;
	background-image: url('../image/title.png');
}
div#title {
	text-align: center;
}

div#menu {
	padding-top: 150px;
	padding-left: 32px;
}

div#menu ul {
	list-style-type: none;
}

div#menu li {
	display: inline-block;
	font-size: 22px;
	color: #FFFFFF;
	margin: 0 35px;
	font-family: 'Roboto Condensed', sans-serif;
}


/*--------------index--------------*/
div#events {
	border-top: 2px #515151 solid;
}

div#main-pic {
	float:left;
}

div#event-list {
	margin-left: 530px;
	height: 400px;
	font-family: 'Roboto Condensed', sans-serif;
}

div#event-list-title {
	font-size: 18px;
	height:22px;
	text-align: center;
	font-weight: 18px;
}

div#event-list-content {
	height: 40px;
	padding: 7px 0px 8px 0px;
	line-height: 24px;
}

div#event-list-bullet {
	display:inline-block;
	vertical-align: top;
	margin-top: 20px;
	width: 40px;
}

div#event-list-detail {
	display: inline-block;
	vertical-align: top;
	width:300px;
	padding-left: 4px;
}

div#content {
	height: 330px;
}

div#banner {
	margin-bottom: 30px;
	text-align: center;
}

div#banner div#slogan {
	float:left;
	width:470px;
	height:30px;
	background-color: #99CCFF;
	margin:0;
	padding:15px;
	font-size:22px;
	font-family: 'Amethysta', serif;
}

div#banner div#login {
	display: inline-block;
	width:370px;
	height:30px;
	background-color: #FFCC99;
	margin:0;
	padding:15px;
	font-size: 20px;
	font-family: 'Amethysta', serif;
}

div#video {
	width: 900px;
	margin: 0 auto;
}

div#each-video {
	display: inline-block;
	margin-right: 54px;
	width: 260px;
}

div#last-video {
	display: inline-block;
	margin-right: 0px;
	width: 260px;
}

/*--------------about us--------------*/


div#about_us {
	width: 550px;
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
}

div#show_pic {
	width: 320px;
	display: inline-block;
	padding-top: 40px;
	padding-left:23px;
	vertical-align: top;
}

/*--------------events--------------*/

div #intro {
	font-family: 'Roboto Condensed', sans-serif;
}

div#event-box {
	width: 360px;
	height: 160px;
	font-family: 'Roboto Condensed', sans-serif;
	display: inline-block;
	vertical-align: top;
	padding: 0px 23px;
	margin: 20px 20px;
	background: rgba(255, 255, 255, 0.1);
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

div#event-box:hover {
	background-image: url('../image/event_background.jpg');
}

div#event-content {
	width: 700px;
	margin-left: 100px;
}

/*--------------Contact--------------*/
div#contact-box {
	font-family: 'Roboto Condensed', sans-serif;
}

div#contact-box-left {
	display: inline-block;
	width: 250px;
	margin-left: 50px;
	vertical-align: top;
}

div#contact-box-right {
	display: inline-block;
	width: 460px;
	vertical-align: top;
	margin-left: 50px;
}

div#contact-title {
	height: 45px;
	margin-bottom: 5px;
	display: inline-block;
}

div#contact-line {
	line-height: 35px;
}

div#contact-line-left {
	width: 60px;
	display: inline-block;
}

div#contact-line-right {
	width: 150px;
	display: inline-block;
}

div#contactus-line-left {
	width: 100px;
	display: inline-block;
	vertical-align: top;
}

div#contactus-line-right {
	width: 300px;
	display: inline-block;
}

fieldset {
    border: 0px;
}

label {
	width: 30px;
}

textarea {
	border-color: #C0C0C0;
	overflow: auto;
	resize: none;
	margin-top: 10px;
}

/*--------------Donate--------------*/
div#donate {
	width: 700px;
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 200px;
}

div#show_pic {
	width: 320px;
	display: inline-block;
	padding-top: 40px;
	padding-left:23px;
	vertical-align: top;
}

#statement-container {
	font-family: 'Roboto Condensed', sans-serif;
}

#statement {
	width:700px;
	margin: 10px auto;
	line-height: 30px;
}

#statement p#statement {
	font-size: 15px;
	font-weight: 280;
	text-align: left;
}

/* book collection */
#book-collection {
	width: 800px;
	margin: 0px auto;
	font-family: 'Roboto Condensed', sans-serif;	
}

div.book {
	padding: 20px;
	margin: 20px;
	display:inline-block;
	width: 700px;

	background: rgba(255, 255, 255, 0.1);
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

div.book div.book-title {
	font-weight: 600;
	font-size: 20px;
}

.small-title {
	font-weight:300;
	font-size:14px;
	font-style:italic;
}


div.book div.book-frontpage {
	float:left;
	margin: 0 10px 10px 0;
}

div.book div.book-frontpage .imagedropshadow {
	padding: 3px;
	border: solid 1px #DDDDDD;
	margin: 15px 0 0 0;
}

div.book div.book-frontpage a:hover img.imagedropshadow {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

div.book div.book-frontpage img{
	width: 150px;
	height: 200px;
}


div.book div.book-intro {

	padding-top: 3px;
	line-height: 26px;
}

div.book div.book-buy {
	text-align: right;
	padding-top: 50px;
}

/*--------------footer--------------*/
div#footer {
	width: 900px;
	height: 75px;
	background-image: url('../image/footer.png');
}

div#footer div#gototop {
	float: left;
	margin-top: 45px;
	margin-left:20px;
}

div#footer div#gototop a {
	color:#3E3E3E;
    text-decoration:none;
}

div#footer div#credits {
	color:#3E3E3E;
	float: right;
	margin-top: 45px;
	margin-right: 20px;
}